<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="./fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <section id="header">
            <a href="" class="logo"><img src="./img/logo.png" alt=""></a>

            <div>
                <ul id="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a class="active" href="shop.html">Shop</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  
                </ul>
            </div>
            <div class="control">
                <a href="#">Log In</a>
                <a href="#">Sign Up</a>
            </div>

            <div class="mobile">
                <i class="user fa-solid fa-user"></i>
                <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>
        <section id="page-header">
            <h2>#stayhome</h2>
            <p>Save more with coupons&up to 70%off!</p>
        </section>

        <section id="cart-wrap">
            <div class="cart-list">
                <h4><i class="fa-sharp fa-solid fa-cart-shopping"></i> Giỏ hàng</h4>
                <div class="cart-item">
                    <div class="product-list">
                        <div class="product-list-img"><img
                                src="./img/products/f1.jpg" alt=""></div>
                        <div class="product-info">
                            <h6>Cartoon Astronaut T-Shirts</h6>
                            <span>Số lượng:1</span>
                        </div>
                        <div class="product-price">
                            <span>$78</span>
                            <button class="normal">Xóa</button>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="product-list-img"><img
                                src="./img/products/f1.jpg" alt=""></div>
                        <div class="product-info">
                            <h6>Cartoon Astronaut T-Shirts</h6>
                            <span>Số lượng:1</span>
                        </div>
                        <div class="product-price">
                            <span>$78</span>
                            <button class="normal">Xóa</button>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="product-list-img"><img
                                src="./img/products/f1.jpg" alt=""></div>
                        <div class="product-info">
                            <h6>Cartoon Astronaut T-Shirts</h6>
                            <span>Số lượng:1</span>
                        </div>
                        <div class="product-price">
                            <span>$78</span>
                            <button class="normal">Xóa</button>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="product-list-img"><img
                                src="./img/products/f1.jpg" alt=""></div>
                        <div class="product-info">
                            <h6>Cartoon Astronaut T-Shirts</h6>
                            <span>Số lượng:1</span>
                        </div>
                        <div class="product-price">
                            <span>$78</span>
                            <button class="normal">Xóa</button>
                        </div>
                    </div>

                    <button class="normal"> Xem giỏ hàng</button>
                </div>
            </div>
            <form action="" class="search">
                <input type="text" placeholder="Search product">
                <button class="normal">Search</button>
            </form>

        </section>

        <section id="product1" class="section-p1 p-shop">
            <div class="p-category">
                <h4>Danh mục sản phẩm</h4>
                <ul class="category-list">
                    <li><a href="#">Bán chạy nhất</a></li>
                    <li><a href="#">Hàng mới về</a></li>
                    <li><a href="#">Hàng giảm giá</a></li>
                    <li>
                        <span>Quần áo nam</span>
                        <ul class="nav_menu">
                            <li><a href="#">Quần âu</a></li>
                            <li><a href="#">Quần jean</a></li>
                            <li><a href="#">Áo sơ mi</a></li>
                            <li><a href="#">Áp polo</a></li>
                        </ul>

                    </li>
                    <li>
                        <span>Quần áo nữ</span>
                        <ul class="nav_menu">
                            <li><a href="#">Áo thun</a></li>
                            <li><a href="#">Áo hai dây</a></li>
                            <li><a href="#">Áo len đan </a></li>
                            <li><a href="#">Chân váy</a></li>
                        </ul>

                    </li>
                    <li>
                        Top 10 hàng yêu thích
                        <ul>
                            <li class="hot_pro"><a href="#">
                                <div class="hot_pro--img"><img  src="./img/products/f1.jpg" alt=""></div>
                                <span>Áo sơ mi</span>
                            </a></li>
                        </ul>
                    
                    </li>
                </ul>

            </div>
            <div class="pro-container">
                <div class="pro">
                    <img src="./img/products/n8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="./img/products/n8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="./img/products/n8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <div class="pro">
                    <img src="./img/products/n8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </div>
        </section>

        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fa-solid fa-right-long"></i></a>
        </section>

        <section id="newletter" class="section-p1">
            <div class="newtext">
                <h4>Sign Up For Newsletters</h4>
                <p>GetE-mail updates about our latest shop and <span>special
                        offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="./img/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address:</strong> 562 Wellington Road, Street 32, San
                    Francisco</p>
                <p><strong>Phone:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
                <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Pricacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact us</a>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>

            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>
                <div class="row">
                    <img src="./img/pay/app.jpg" alt="">
                    <img src="./img/pay/play.jpg" alt="">
                </div>
                <p>Secured Payment Gateways</p>
                <img src="./img/pay/pay.png" alt="">
            </div>

            <div class="copyright">
                <p>@ 2021, Tech2 etc - HTML CSS Ecommerce Template</p>
            </div>
        </footer>

        <script src="./scrip.js"></script>
    </body>
</html>